<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="css/cartshop-style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <title>CART SHOP</title>
</head>
<body>
<header>
    <!--Title-->
    <div class="logo-box">
        <img class="logo" src="../images/logo.png" alt="Logo Online Shop">
    </div>
    <h1>Carrito de Compras</h1>
    <div class="cancel-box">
        <!--Cart Shop-->
        <input class="cancel-button" type="image" src="../images/cancelar.png">
    </div>
</header>
<div class="cart-shop">
    <!--Cart Shop-->
    <div class="table-item">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
            <tr>
                <td>Toyota Prado</td>
                <td>$290.700.000</td>
            </tr>
            <tr>
                <td>Chevrolet Camaro</td>
                <td>$242.990.000</td>
            </tr>
            <tr>
                <td>Ford Mustang</td>
                <td>$220.990.000</td>
            </tr>
            <tr>
                <td>Audi R8</td>
                <td>$865.000.000</td>
            </tr>
            <tr>
                <td>Ford Raptor</td>
                <td>$277.990.000</td>
            </tr>
            <tr>
                <td>Mazda CX-9</td>
                <td>$226.900.000</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>