<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link href="css/index-style.css" rel="stylesheet">
  <meta charset="UTF-8">
    <title>ONLINE SHOP</title>
</head>
<body>
<header>
  <!--Title-->
  <div class="container-logo">
    <img class="logo" src="../images/logo.png" alt="Logo Online Shop">
  </div>
  <h1>Car Shop</h1>
  <div class="container-icon">
    <!--User Icon-->
    <input onclick="store/login" class="icon-cart" type="image" src="../images/user.png">
    <!--Cart Shop-->
    <input onclick="store/cart-shop" class="icon-cart" type="image" src="../images/carrito-de-compras.png">

  </div>
</header>
<div class="container-items">
  <!--Products-->
  <div class="item">
    <figure>
      <img src="../images/prado.jpg" alt="Toyota Prado Roja">
    </figure>
    <div class="info-product">
      <h2>Toyota Prado</h2>
      <p class="price">$290.700.000 COP</p>
      <button>Añadir al Carrito</button>
    </div>
  </div>
  <div class="item">
    <figure>
      <img src="../images/camaro.jpg" alt="Toyota Prado Roja">
    </figure>
    <div class="info-product">
      <h2>Chevrolet Camaro</h2>
      <p class="price">$242.990.000 COP</p>
      <button>Añadir al Carrito</button>
    </div>
  </div>
  <div class="item">
    <figure>
      <img src="../images/mustang.jpeg" alt="Toyota Prado Roja">
    </figure>
    <div class="info-product">
      <h2>Ford Mustang</h2>
      <p class="price">$220.990.000 COP</p>
      <button>Añadir al Carrito</button>
    </div>
  </div>
  <div class="item">
    <figure>
      <img src="../images/audi.jpg" alt="Toyota Prado Roja">
    </figure>
    <div class="info-product">
    <h2>Audi R8</h2>
    <p class="price">$865.000.000 COP</p>
    <button>Añadir al Carrito</button>
  </div>
  </div>
  <div class="item">
    <figure>
      <img src="../images/raptor.jpg" alt="Toyota Prado Roja">
    </figure>
    <div class="info-product">
    <h2>Ford Raptor</h2>
    <p class="price">$277.990.000 COP</p>
    <button>Añadir al Carrito</button>
  </div>
  </div>
  <div class="item">
    <figure>
      <img src="../images/mazda.jpg" alt="Toyota Prado Roja">
    </figure>
    <div class="info-product">
      <h2>Mazda CX-9</h2>
      <p class="price">$226.900.000 COP</p>
      <button>Añadir al Carrito</button>
    </div>
  </div>
</div>
</body>
</html>