<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <link href="css/registeruser-style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4acb9baec3.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
    <title>NEW USER</title>
</head>
<body>
<div class="register-box">
  <img class="logo-register" src="../images/logo.png" alt="Logo Online Shop">
  <h1>Registrarse</h1>
  <form action="" method="post">
    <!--Email-->
    <label for="email"><i class="fa-solid fa-envelope"></i> Correo Electronico</label>
    <input type="email" id="email" placeholder="Ingresa tu correo aqui">
    <!--Password-->
    <label for="password"><i class="fa-solid fa-key"></i> Contraseña</label>
    <input type="password" id="password" placeholder="Ingresa tu contraseña aqui">
    <!--Address-->
    <label for="address"><i class="fa-solid fa-location-dot"></i> Direccion</label>
    <input type="text" id="address" placeholder="Ingresa tu direccion aqui">
    <!--PhoneNumber-->
    <label for="phonenumber"><i class="fa-solid fa-phone"></i> Telefono</label>
    <input type="text" id="phonenumber" placeholder="Ingresa tu telefono aqui">
    <!--Button-->
    <input type="submit" class="btn btn-primary" value="Registrarse">
    <!--Register an account-->
    <p>Ya tienes cuenta?<a href=""> Inicia Sesion</a></p>
  </form>
</div>
</body>
</html>